# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment variables and settings
.env

# Ignore logs and databases
*.log
*.sqlite3
*.db

# Ignore compiled files
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore MacOS system files
.DS_Store

# Ignore large files or directories
retail-checkout/traced_model.pt
retail-checkout/myenv/
retail-checkout/runs/

# Ignore Node.js dependencies (if applicable)
node_modules/

# Ignore IDE or Editor specific files
.vscode/
.idea/

# Ignore files related to Git
.git/

# Ignore Python virtual environment
venv/
*.pt
*.dylib

# Ignore large files that are tracked by Git LFS
retail-checkout/traced_model.pt
venv/lib/python3.12/site-packages/torch/lib/libtorch_cpu.dylib

myenv/
*.pt
*.dylib

runs/

echo "venv/" >> .gitignore
echo "retail-checkout/traced_model.pt" >> .gitignore